* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    width: 120px;
    height: 40px;
    background: red;
    border: 1px solid blue;
    transition: 0.3s;
}

.btn p {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.3s;
}

.btn:hover {
    border: 2px solid black;
    background: blueviolet;
    border-radius: 8px;
}

.btn:hover .btn p:hover {
    color: coral;
    font-family: monospace;
}

.menuBrauzer {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    font-weight: 400;
    font-size: 19px;
}

.menuBrauzer option {
    font-weight: 500;
    font-size: 20px;
    width: 80px;
    height: 35px;
    color: crimson;
    background: darksalmon;
}

.div-a {
    width: 150px;
    padding: 20px 0;
    background: deeppink;
    text-decoration: none;
    /*link@ hanuma taki gcikn*/
}

.box-block {
    display: flex;
}

.box1 {
    width: 500px;
    height: 150px;
    background-color: red;
    margin-left: 5px;
    margin-top: 100px;
}

.box2 {
    width: 500px;
    height: 150px;
    background-color: blue;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 120px;
}

.box3 {
    width: 500px;
    height: 150px;
    background-color: orange;
    margin-right: 5px;
    margin-top: 130px;
}

.peding-block {
    display: flex;
}

.box4 {
    width: 200px;
    height: 200px;
    background: #000;
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 100px;
}

.box5 {
    width: 200px;
    height: 200px;
    background: orchid;
    border-radius: 50%;
}

.box6 {
    width: 200px;
    height: 200px;
    background: crimson;
    border-radius: 0 10px 5px 0;
}

.box4 p {
    color: wheat;
    font-weight: 700;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    letter-spacing: 5px;
}


/* .box4 p:hover {
    color: turquoise;
} 

.G-imags {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.images {
    width: 700px;
    height: 400px;
    display: block;
}


/* 
  position: absolute;
  position: relative;
  position: fixed;
  */


/* position-start  */

body {}

.just-box {
    width: 300px;
    height: 300px;
    background: red;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.9);
    margin-left: 50px;
}

.just-box:active {
    background: yellow;
}

.text {
    color: blue;
}

.text:nth-child(3) {
    color: tomato;
}

.text:first-child {
    color: violet;
}

.text:last-child {
    color: yellow;
}

.div-01 {
    color: red;
    font-size: 20px;
    letter-spacing: 10px;
    word-spacing: 10px;
}

.before p {
    font-size: 20px;
    color: #000;
    font-family: monospace;
}

.before p::before {
    content: "Varsik";
    color: red;
    font-size: 25px;
}

.before p::after {
    content: "debil";
    color: pink;
    font-size: 25px;
}


/*position-banend  */


/* menu-bar-start */

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-bar ul {
    display: inline-flex;
}

.menu-bar ul li {
    list-style: none;
}

.menu-bar ul li {
    margin-left: 15px;
    margin-right: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
}


/* menu-bar-end */

.parent-div {
    width: 400px;
    height: 300px;
    background: #000;
    /* overflow: hidden;   koxic ktruma*/
    position: relative;
}

.child-div {
    width: 50%;
    height: 50%;
    background: red;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: 0.3s;
}

.child-div:hover {
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.parent-div p {
    /* opacity: 0   ;  erevuma chi erevum@ */
}

.parent-div p:hover {
    /* overflow: visible;  bacuma koxeric*/
    /* opacity: 1; */
}

.button {
    width: 200px;
    height: 45px;
    margin: 0 auto;
}

.button button {
    width: 100%;
    height: 100%;
    border: 2px solid red;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.button button::before {
    content: "";
    position: absolute;
    background: red;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.button button:hover::before {
    width: 100%;
}

.button button p {
    font-size: 17px;
    text-transform: uppercase;
    color: #000;
    position: relative;
    z-index: 1;
}